@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    // font-family: 'Varela Round';
    color: black;
}

.header {
    .navbar {
        display: flex;
        a {
            margin-right: 50px;
            text-decoration: none;
            color: black;
        }
        .navbar-nav {
            margin: auto;
        }
    }
}
.card {
    display: flex;
    margin: auto;
    margin-top: 50px;
}