@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    color: black;
    background: #e2e2e2 !important;
    font-family: 'Varela Round', sans-serif !important;
}

h1 {
    font-size: 20px !important;
}

a {
    text-decoration: none !important;
}

.header {
    .navbar {
        display: flex;
        a {
            margin-right: 50px;
            text-decoration: none;
            color: black;
            &:hover{
                border-bottom:  solid 2px black;
            }
            &:active{
                border-bottom:  solid 2px black;
                font-weight: 700;
            }
        }
        .navbar-nav {
            margin: auto;
        }
    }
}
.card {
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.logo {
    max-width: 100px;
    border: none !important;    
}
.modal-content .btn{
    color: black !important;
}
.modal-body img {
    max-width: 250px;
    max-height: 150px;
    display: flex;
    margin: auto;
}

.card-img {
    margin: auto;
    display: flex;
    border-radius: 100% !important;
    margin-bottom: 50px;
    width: 100px !important;
    height: 100px;
}

.cart-item {
    margin: 50px;
    padding: 50px;
    max-width: 500px;
    border: solid 0.5px #c7c7c7;
    border-radius: 10px;
}